body{
    background-image: url("https://external-preview.redd.it/ja2rwASy69ySlG3q_Brb8RhD7Sq2gzUEqSxxAbomVS8.png?auto=webp&s=d94d3cd074c7933031287abca2bcfc9735c1c8a6");
    background-repeat: no-repeat;
    background-size: cover;
}

.headers{
    color: black;
    font-size: 30px;
    margin-bottom: 100px;
    margin-left: 200px;
    color: yellow;
    font-family: Cinzel, Arial, serif;
    text-align: center;
   
}

.opening{
    font-size: 30px;
    text-align: center;
}

.quiz{
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bold;
    
    
}

.options{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 20px;
    margin-bottom: 30px;
    text-decoration: none;
    width: 40%;
    font-size: 16px;
    color: black;
    background-color: transparent;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.optionsCorrect{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 20px;
    margin-bottom: 30px;
    text-decoration: none;
    width: 40%;
    font-size: 16px;
    color: black;
    background-color: transparent;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

